:root {
    --mdc-beatle-primary: #f4511e;
    --mdc-beatle-on-primary: #fff;
    --mdc-beatle-secondary: #43a047;
    --mdc-beatle-on-secondary: #fff;
    --mdc-beatle-background: #303030; 
    --mdc-beatle-surface: #424242;
    --mdc-beatle-on-surface: #fff;
    --mdc-beatle-error: #ff5252;
    --mdc-beatle-text-primary-on-background: #fff;
    --mdc-beatle-text-secondary-on-background: rgba(255, 255, 255, 0.7);  
    --beatle-base-color: #fff;
    --beatle-primary-rgb: 244,81,30;
    --beatle-primary-rgb-lighter: 251,233,231;
    --beatle-divider: rgba(255, 255, 255, 0.12);
    --beatle-surface-rgb: 66,66,66;
    --beatle-inputs-border-color: rgba(255, 255, 255, 0.3);
    --beatle-unselected-chip: #616161; 
    --swiper-beatle-color: #f4511e;
}  