:root {
    --mdc-beatle-primary: #1976d2;
    --mdc-beatle-on-primary: #fff;
    --mdc-beatle-secondary: #e91e63;
    --mdc-beatle-on-secondary: #fff;
    --mdc-beatle-background: #fafafa; 
    --mdc-beatle-surface: #fff; 
    --mdc-beatle-on-surface: #000;
    --mdc-beatle-error: #ff5252;
    --mdc-beatle-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-beatle-text-secondary-on-background: rgba(0, 0, 0, 0.54); 
    --beatle-base-color: rgba(0,0,0,.87);
    --beatle-primary-rgb: 25,118,210;
    --beatle-primary-rgb-lighter: 227,242,253;
    --beatle-divider: rgba(0, 0, 0, 0.12);
    --beatle-surface-rgb: 255,255,255;
    --beatle-inputs-border-color: rgba(0, 0, 0, 0.2);
    --beatle-unselected-chip: #e0e0e0; 
    --swiper-beatle-color: #1976d2; 
}